.addButton{
    position: absolute;
    width: 55px;
    height: 52px;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background: #EEB134;
    border: none;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover,
    &:focus {
        background: rgb(233, 159, 11);
    }

    &:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    i{
        vertical-align: middle; 
        color: #FFFFFF;
    }
}